# Core framework
fastapi
uvicorn[standard]

# WebSocket
websockets

# HTTP
requests

# Telephony
twilio

# Env
python-dotenv

# LangChain / LangGraph
langgraph
langchain
langchain-core
langchain-openai
langchain-google-community

# Google APIs
google-auth-oauthlib
google-auth
google-api-python-client
tzdata

# HTML parsing
beautifulsoup4

python-multipart